@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

.h-line1 {
    display: flex;
}

.titulo {
    color:rgb(110,46,8);
    font-family: 'Caveat',cursive;
    font-weight: 700;
    width: 70%;
    background-color: olivedrab;
    text-align: center;
}

.busqueda {
    background-color: blue;
}

.notificaciones {
    display: flex;
}